/****

 Here go all the variables for the site

****/


/* Report colors */
$main_color: #E98300; // orange
$color_2: lightgrey; // light grey
$color_3: #7D0063; // purple
$color_4: #7D0063; // purple
$color_5: #7D0063; // purple
$color_6: #7D0063; // purple
$color_7: #7D0063; // purple


$brand_color: #f0ab00; 



// Primary colors
$brand_white_primary: #ffffff;
$brand_yellow_primary: #F0AB00;
$brand_black_primary: #000;
$brand_gray_primary: #9B9B9B;

// Secondary colors
$brand_blue_secondary: #0099CC;
$brand_red_secondary: #C51F24;
$brand_purple_secondary: #7D0063;
$brand_green_secondary: #97BD3D;

// Tertiary colors
$brand_green_tertiary: #007A4D;
$brand_blue_tertiary: #003F6A;
$brand_orange_tertiary: #E98300;
$brand_red_tertiary: #ED1A37;
$brand_yellow_tertiary: #FCD900;

$link_tag_color: #7D0063; // purple


/* Fonts */
$header-font:  "acumin-pro-condensed", sans-serif;
$header-font-2: "acumin-pro-condensed",sans-serif;


